<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vngrs.android.pomodoro" >

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".ui.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receivers.PomodoroAlarmReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="${applicationId}.action.ALARM" />
            </intent-filter>
        </receiver>
        <!--<receiver-->
            <!--android:name=".receivers.PomodoroAlarmTickReceiver"-->
            <!--android:enabled="true"-->
            <!--android:exported="false" >-->
        <!--</receiver>-->
        <!--<receiver-->
            <!--android:name=".receivers.PomodoroControlReceiver"-->
            <!--android:enabled="true"-->
            <!--android:exported="false" >-->
        <!--</receiver>-->

        <service
            android:name=".service.PomodoroService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="${applicationId}.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.action.STOP" />
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.action.ALARM_TICK" />
            </intent-filter>
        </service>
    </application>

</manifest>
