<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.vngrs.android.pomodoro.wear">

  <uses-feature android:name="android.hardware.type.watch" />

  <application
    android:name=".App"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/Theme.Pomodoro">

    <meta-data
      android:name="com.google.android.gms.version"
      android:value="@integer/google_play_services_version" />'

    <activity
      android:name=".PomodoroWearBroadcastActivity"
      android:label="@string/start_working">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".PomodoroNotificationActivity"
      android:allowEmbedded="true"
      android:exported="true"
      android:taskAffinity=""
      android:theme="@android:style/Theme.DeviceDefault.Light" />

    <receiver
      android:name=".PomodoroNotificationReceiver"
      android:enabled="true"
      android:exported="false">
      <intent-filter>
        <action android:name="com.vngrs.android.pomodoro.action.START" />
        <action android:name="com.vngrs.android.pomodoro.action.STOP" />
        <action android:name="com.vngrs.android.pomodoro.action.PAUSE" />
        <action android:name="com.vngrs.android.pomodoro.action.RESUME" />
        <action android:name="com.vngrs.android.pomodoro.action.RESET" />
        <action android:name="com.vngrs.android.pomodoro.action.UPDATE" />
        <action android:name="com.vngrs.android.pomodoro.action.ALARM" />
      </intent-filter>
    </receiver>

    <service android:name=".OngoingNotificationListenerService">
      <intent-filter>
        <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
      </intent-filter>
    </service>

  </application>

</manifest>
